@model DoAnTotNghiep.Models.Service
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@* @if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
} *@
<h1>AddService</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
    @using (Html.BeginForm("AddService", "HomeAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="ServiceName" class="control-label"></label>
            <input asp-for="ServiceName" class="form-control" />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="control-label"></label>
            <input asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }
</div>

<div>
    <a asp-action="ServiceManagement">Back to List</a>
</div>

