@model List<Tuple<string, string, int>>

@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    th{
        text-align:center;
    }
    td{
        text-align:center;
    }
</style>
<h1 style="text-align:center">Patient List</h1>

<table class="table">
    <thead>
        <tr style="background-color : White">
            <th>Patient Name</th>
            <th>Patient Phone</th>
            <th>Number of Appointments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr class="table-dark">
                <td>@patient.Item1</td>
                <td>@patient.Item2</td>
                <td>@patient.Item3</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                alert(successMessage);
            }
        });
    </script>
}
